<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <contextName>InvestFoxLogbackSystem</contextName>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="APP_VERSION" source="spring.application.version"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="log.path" value="log"/>
    <property name="log.maxHistory" value="3"/>
    <property name="log.maxFileSize" value="1MB"/>
    <property name="log.totalSizeCap" value="1GB"/>
    <property name="log.colorPattern"
              value="%magenta(%d{yyyy-MM-dd HH:mm:ss}) %boldCyan([App: ${APP_NAME}, v.${APP_VERSION}]) %highlight(%-5level) %yellow(%thread) %green(%logger{96}) %msg%n"/>

    <!-- APPENDERS -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/trace.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxFileSize}</maxFileSize>
            <totalSizeCap>${log.totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>128</queueSize>
        <maxFlushTime>10000</maxFlushTime>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
            <maxFileSize>${log.maxFileSize}</maxFileSize>
            <totalSizeCap>${log.totalSizeCap}</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${log.colorPattern}</pattern>
        </encoder>
    </appender>

    <!--    Аппендер для вывода логов в Кибану (в Кубере): -->
    <!--    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
    <!--        <param name="Encoding" value="UTF-8"/>-->
    <!--        <remoteHost>${LOGSTASH_URL}</remoteHost>-->
    <!--        <port>${LOGSTASH_PORT}</port>-->
    <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
    <!--            <customFields>{"logger_name":"LpApiCabinetLogbackSystem", "app_name":"lp-api-cabinet", "app_port":"8080"}</customFields>-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!-- INFO -->
    <logger name="sun.rmi.transport" level="INFO"/>
    <logger name="org.postgresql" level="INFO"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="INFO"/>

    <!-- HOOKS -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- ROOT -->
    <root>
        <appender-ref ref="STDOUT" level="DEBUG"/>
        <appender-ref ref="ASYNC" level="INFO"/>
        <appender-ref ref="ERRORS" level="ERROR"/>
        <!--      <appender-ref ref="logstash" level="TRACE"/>-->
    </root>

</configuration>
